body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: #f4f4f4; /* Adjust color based on your theme */
    border-bottom: 1px solid #ddd;
}

.theme-toggle-button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.theme-toggle-button:hover {
    background-color: #0056b3;
}

.content {
    flex: 1;
    padding: 20px;
}

.corner-image {
    display: block;
    margin: 20px auto;
}
















/* Link container styles */
.link-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #2b2b2b;
    padding: 10px 0;
    z-index: 10;
}

.link-container a {
    color: #ff9800;
    text-decoration: none;
    font-size: 1.2em;
}

.link-container a:hover {
    color: #e68a00;
}

/* Header styles */
h1 {
    color: #ff9800;
    margin-top: 60px;
}

/* Label and input styles */
label {
    font-size: 1.2em;
}

input {
    font-size: 1em;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button styles */
button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #ff9800;
    color: #2b2b2b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e68a00;
}

/* Stopwatch styles with dynamic background */
.stopwatch {
    font-size: 1em;
    color: #2b2b2b;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: left;
    background: #f0f0f0; /* Default background */
    background-size: 100% 100%;
    transition: background 0.3s ease;
}


/* Progress bar styles */
.progress-bar {
    background-color: #ff9800;
    height: 20px;
    width: 0%;
    transition: width 0.3s ease;
    border-radius: 4px;
}

/* Pause button styles */
.pause-button {
    background-color: #f44336;
    color: #f0f0f0;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pause-button:hover {
    background-color: #d32f2f;
}

/* for godbrand image */
.corner-image {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 10vw; /* 10% of the viewport width */
    height: auto; /* Maintain the aspect ratio */
    z-index: 1000; /* Ensure it stays on top of other elements */
    border-radius: 10px; /* Optional: rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional: shadow for better visibility */
}

/* Light theme styles */
body.light-theme {
    background-color: #f0f0f0;
    color: #2b2b2b;
}

.corner-image:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
