.flex-container {
  display: flex;
}
.gb {
  width: 100px;
}
.item1 {
  position: absolute;
}

.table1 {
  border: 1px solid black;
}

.column-p-1 {
  background-color: rgb(34, 69, 100);
}
.column-p-2 {
  background-color: rgb(60, 135, 201);
}