/* This is where change.html starts */

.change_firstRow input {
  display: flex;
  background-color: black;
  color: white;
  
}
.change_secondRow input {
  display: flex;
  background-color: black;
  color: white;
}
.extra_money {
  background-color: black;
  color: white;
  
  
}
.calculate-change {
  background-color:rgb(204, 0, 0);
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        margin-left: 208px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        transition: opacity 0.15s;
}
.calculate-change:hover {
  opacity: 0.8
}

.q1 {
  color: black;
}
.output {
  width: 177px; 
  background-color: rgb(136, 136, 136);
  box-shadow: 5px 5px 10px;
}

/* this is where change.html ends */

/* a is targeting all <a> (anchor) elements */
.menu a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin-left: 40px;
  
  }
  .menu a:hover {
    border-bottom: 1px solid white;
  }
  
  .menu-paragraph {
    display: inline-block;
    padding-left: 500px;
    line-height: 0px;
    margin: 0px;
    color: white;
  }
  
/* header / nav starts here */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: seagreen;
  display: flex;
  align-items: center;
}